git-filter-repo.py

back_plan_risk_3d/media/

# Entornos virtuales
venv/
env/
.venv/
*.pyc
__pycache__/
*.pyo
*.pyd
.Python

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de base de datos locales
db.sqlite3

# Migraciones (si quieres ignorarlas al resetear BD)
**/migrations/*
!*/migrations/__init__.py

# Archivos de entorno
.env
*.env

# Compilados / caches
.pytest_cache/
.coverage
htmlcov/

# Modelos y pesos pesados de Inteligencia Artificial
*.h5
